# ==================== Secrets
.env
*.env
!.env.example
*.pem
*.key
appsettings.*.local.json


# ==================== Node / Frontend (если появится) ====================
node_modules/
dist/
.next/
build/

# ==================== Docker ====================
docker-compose.override.yml

# ==================== IDE ====================
.vs/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# ==================== OS ====================
.DS_Store
Thumbs.db
desktop.ini

# ==================== Логи ====================
*.log
logs/

config.local.php
config.php